{% extends 'catalog/base.html' %}
{% load static %}

{% block extra_styles %}
<style>
    :root {
      --primary: #000;
      --bg-page: #f4f4f4;
      --card-bg: #fff;
      --text-color: #333;
      --radius: 8px;
      --input-radius: 8px;
      --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    }

    .contact-section {
      background: transparent;
      padding: 20px 20px 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      max-width: 1200px;
      margin-top: 10px;
      padding-top: 30px;
    }

    .contact-image {
      flex: 1;
      padding: 20px;
      display: flex;
      justify-content: flex-start;
      margin-left: -40px; 
    }

    .contact-image img {
      width: 100%;
      max-width: 360px;  
    }

    .contact-form-wrapper {
      flex: 1 1 500px;
      max-width: 600px;          
      background-color: var(--card-bg);
      padding: 40px;             
      border-radius: var(--radius);
      box-shadow: var(--shadow);
      margin-left: -20px;        
    }

    .contact-form h2 {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 30px;
      margin-top: 0px;
      color: var(--primary);
      text-align: center;
    }

    .contact-form label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
      color: var(--text-color);
    }

    .contact-form input,
    .contact-form textarea {
      width: 100%;
      padding: 12px 14px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 16px;
      font-family: inherit;
    }

    .contact-form button {
        background-color: #4cc9f0;
        color: white;
        padding: 12px;
        text-align: center;
        border: none;
        border-radius: 5px;
        display: block;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 10px;
    }

    .contact-form button:hover {
      background-color: #3a8fbd
    }
</style>
{% endblock %}

{% block content %}
<section class="contact-section">
  <div class="contact-image">
    <img src="{% static 'icons/envelope.png' %}" alt="Contact Icon">
  </div>

  <div class="contact-form-wrapper">
    <form method="POST" class="contact-form">
      {% csrf_token %}
      <h2>Have Some Questions?</h2>

      {{ form.non_field_errors }}

      <div>
        {{ form.title.label_tag }}
        {{ form.title }}
        {{ form.title.errors }}
      </div>

      <div>
        {{ form.description.label_tag }}
        {{ form.description }}
        {{ form.description.errors }}
      </div>

      <div>
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.email.errors }}
      </div>

      <button type="submit">Send Message</button>
    </form>
  </div>
</section>
{% endblock %}
